@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

html,body {
    margin: 0;
    padding: 0;
  }
  
  body {
    padding-top: 1em;
    text-align: center;
    background-image: url(./images/darkwood.jpg);
    background-size: 2600px 1500px;
    background-repeat: no-repeat;
  }
  
  h1, h2 {
    font-family: 'Merriweather', serif;
    font-size: 4em;;
    /* font-family: monospace; */
    color: rgb(210, 177, 140)
  }
  
  canvas {
    /* background-image: url(./images/KWBackground.png); */
    /* background-repeat: repeat; */
    background-color: #222;
    border: double black 5px;

    width: 700px;
    height: 700px;
    
  }
  
  #container {
  max-width: 50em;
  /* height: 70vh; */
  background-color: rgba(210, 177, 140, 0);
  justify-content: space-between;
  margin: 0 auto;
  padding: 1em;
  display: grid;
  grid-gap: 1em;
  /* grid-template-rows: .5fr .5fr; */
  grid-template-columns: .5fr .5fr;
  grid-template-areas: "top-left top-left"
                        "game game"
                        "btm-left btm-right";
  }
  
  #top-left, #top-right, #btm-left, #btm-right {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: rgba(210, 177, 140, .25);
    border: ridge rgb(46, 46, 46) 5px;
    /* border-radius: 25px; */
  }
  
  #top-left {
    grid-area: top-left;
    width: 824px;
  }
  
  #top-right {
    grid-area: top-right;
    /* background-color: #222; */
    /* background-image: url('../img/funky-lines.png'); */
  }
  
  main {
    grid-area: game;
  }
  
  
  #btm-left {
    grid-area: btm-left;
    /* margin-top: .8em; */
    height: 50px;
    /* background-color: #222; */
  }
  
  #btm-right {
    font-family: 'Merriweather', serif;
    color: rgb(210, 177, 140);
    font-size: 2em;
    grid-area: btm-right;
    /* margin-top: .8em; */
    height: 60px;
    /* background-color: #222; */
    cursor: pointer;
  }

  #score {
    font-family: 'Teko', sans-serif;
    font-size: 2.5em;
    padding-top: 8px;
  }

  #popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }

  #helpMenu {
    position: absolute;
    top: 40%;
    left: 50%;
  }